$white-color: #fff;
$black-color: #000;
$color-gray: #b0bec5;

body {
    font-family: 'Raleway', sans-serif;
}

.page {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    &--main {
        background-image: url(../img/bg-main.png);
    }
    &--customers {
        background-image: url(../img/bg-2.png);
    }
}

.wrap {
   max-width: 1300px;
   margin: 0 auto;
}

.logo {
    display: block;
    width: 180px;
    height: 30px;
    background-image: url(../img/logo.png);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 156px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 15px;
    margin: 0;
    padding: 0;
    &>li:first-child>a {
        padding-left: 0;
    }
    &__link {
        color: $white-color;
        text-decoration: none;
        padding-left: 51px;
    }
    &--footer {
        margin-top: 6px;
    }
}

.btn-signup {
    font-size: 12px;
    color: $white-color;
    background-color: transparent;
    border: 1px solid $white-color;
    padding: 5px 19px;
    border-radius: 1px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.block-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 188px;
}

.block-text {
    width: 600px;
    color: $white-color;
    &__title {
        font-size: 55px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        padding-bottom: 8px;
    }
    &__desc {
        font-size: 18px;
        line-height: 35px;
        padding-bottom: 32px;
    }
    &__buttons {
        font-size: 15px;
        text-transform: uppercase;
        &--black {
            font-family: 'Roboto', sans-serif;
            background-color: $black-color;
            color: $white-color;
            border: none;
            border-radius: 7px;
            padding: 19px 42px;
            margin-right: 26px;
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .15);
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
        &--white {
            background-color: $white-color;
            color: $black-color;
            font-weight: 700;
            border: none;
            border-radius: 5px;
            padding: 19px 26px 19px 32px;
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .15);
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
    }
}

.video {
    display: block;
    min-width: 600px;
    height: 320px;
    background-image: url(../img/bg-video.png);
    background-repeat: no-repeat;
    border: 1px solid $black-color;
    border-radius: 7px;
    margin-top: 9px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .2);
    position: relative;
    &__btn {
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        top: calc(50% - 47px);
        right: calc(50% - 54px);
    }
    &__icon {
        display: block;
        width: 60px;
        height: 60px;
        background-image: url(../img/video-icon.png);
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    &__desc {
       padding-top: 21px;
       margin: 0;
    }
}

.block-tool {
    padding-bottom: 99px;
}

.text {
    width: 570px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 91px;
    &--white {
        padding-bottom: 47px;
    }
    &__title {
        font-size: 45px;
        font-weight: 700;
        color: $black-color;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 87px;
        &--contact {
            color: #061e37;
            padding-top: 41px;
            padding-bottom: 14px;
        }
    }
    &__subtitle {
        font-size: 25px;
        font-weight: 700;
        color: $color-gray;
        margin: 0;
        padding-bottom: 15px;
    }
    &__desc {
        font-size: 15px;
        color: $color-gray;
        margin: 0;
        line-height: 24px;
        &--team {
            width: 560px;
            margin: 0 auto;
            padding-top: 4px;
        }
        &--contact {
            color: #061e37;
        }
    }
}

.tool-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;
    &__item {
        text-align: center;
        flex-basis: 27%;
    }
    &__img {
        display: block;
        margin: 0 auto;
        object-fit: contain;
        width: 68px;
        height: 80px;
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        padding-top: 37px;
        padding-bottom: 11px;
    }
    &__desc {
        font-size: 15px;
        color: #78909c;
        margin: 0;
        line-height: 20px;
    }
}

.btn-start {
    display: block;
    background-color: #1de9b6;
    color: $white-color;
    font-weight: 700;
    font-size: 15px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 19px 23px 19px 27px;
    margin: 0 auto;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .15);
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &--dark {
        background-color: #061e37;
        margin: 0;
    }
    &--form {
        padding: 17px 45px 17px 45px;
        font-weight: 400;
        position: absolute;
        right: 0;
        margin-top: 16px;
    }
}

.block-numbers {
    display: flex;
    justify-content: space-between;
    height: 150px;
    &__item{
        flex-basis: 25%;
        position: relative;
        &--blue {
            background-color: #80d8ff;
        }
        &--darkblue {
            background-color: #82b1ff;
        }
        &--purple {
            background-color: #b388ff;
        }
        &--pink {
            background-color: #ea80fc;
        }
    }
    &__section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: calc(50% - 30px);
        &--blue {
            left: calc(50% - 85px);
        }
        &--darkblue {
            left: calc(50% - 97px);
        }
        &--purple {
            left: calc(50% - 101px);
        }
        &--pink {
            left: calc(50% - 88px);
        }
    }
    &__title {
        font-size: 20px;
        font-weight: 800;
        color: $white-color;
        margin: 0;
        padding-left: 24px;
        span {
            display: block;
        }
    }
    &__img {
        width: 60px;
        height: 60px;
    }
}

.block-services {
    padding-bottom: 81px;
    &__list {
        display: block;
        width: 800px;
        margin: 0 auto;
    }
    &__item {
        display: block;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .13);
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        text-decoration: none;
        color: $black-color;
        padding: 17px 30px 17px 24px;
        border-radius: 5px;
        margin-bottom: 20px;
        line-height: 15px;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 11px;
            height: 6px;
            background-image: url(../img/arrow_drop_down.png);
            position: absolute;
            right: 25px;
            top: 24px;
        }
        &--active {
            padding: 23px 30px 23px 24px;
        }
    }
    &__icon {
        display: inline-block;
        padding-right: 24px;
        vertical-align: middle;
    }
    &__section {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        text-transform: none;
        color: #061e37;
        letter-spacing: 0.45px;
        line-height: 25px;
        padding-top: 23px;
    }
    &__desc {
        flex-basis: 470px;
        margin: 0;
        padding: 0;
    }
    &__img {
        object-fit: contain;
    }
    &__text {
        margin: 0;
        padding: 0;
        &:last-child {
            padding-top: 26px;
        }
    }
}

.block-customers {
    display: flex;
    justify-content: space-between;
    &__text {
        flex-basis: 515px;
        padding-top: 125px;
    }
    &__feedback {
        flex-basis: 760px;
        padding-top: 87px;
        padding-bottom: 86px;
        position: relative;
    }
    &__title {
        font-size: 45px;
        font-weight: 600;
        color: $white-color;
        margin: 0;
        padding-bottom: 17px;
    }
    &__desc {
        font-size: 15px;
        font-weight: 600;
        color: $white-color;
        margin: 0;
        padding-bottom: 75px;
        line-height: 25px;
    }
    &__arrow {
        position: absolute;
        border: none;
        background-color: transparent;
        cursor: pointer;
        right: 308px;
        &:focus {
            outline: none;
        }
        &--top {
            top: 39px;
        }
        &--bottom {
            bottom: 34px;
        }
    }
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:nth-child(2) {
        margin-bottom: 70px;
    }
    &__img {
        border-radius: 100%;
    }
    &__text {
        background-color: $white-color;
        border-radius: 5px;
        width: 650px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .15);
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        color: #061e37;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 10px;
        margin: 0;
    }
    &__desc {
        font-size: 15px;
        color: #78909c;
        font-style: italic;
        padding-left: 30px;
        padding-right: 50px;
        padding-bottom: 25px;
        line-height: 25px;
        margin: 0;
    }
}

.page-team {
    width: 650px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 69px;
    &__photos {
        padding: 75px 0 22px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__desc {
        font-size: 15px;
        color: $color-gray;
        margin: 0;
        line-height: 24px;
        padding-bottom: 11px;
    }
    &__pic {
        border-radius: 100%;
        vertical-align: middle;
        opacity: 20%;
        width: 100px;
        &--main {
            background: url(../img/member2.png);
            opacity: 100%;
            width: 160px;
            height: 160px;
            border: solid $white-color 20px;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .15),
                        inset 0px 0px 3px 8px rgba(0, 0, 0, .69);
            margin: 0 30px;
        }
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
    }
}

.social {
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &--footer {
            justify-content: flex-end;
            margin-top: 58px;
            &>li:last-child {
                padding-right: 0;
            }
        }
    }
    &__item {
        padding: 0 14px;
    }
}

.page-contact {
    background-color: #fafafa;
    &__wrap {
        width: 600px;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 166px;
    }
    &__form {
        margin-top: 46px;
        position: relative;
    }
    &__input {
        width: 282px;
        border: 1px $black-color solid;
        border-radius: 5px;
        padding: 15px 17px;
        box-sizing: border-box;
        margin-bottom: 20px;
        background-color: transparent;
        &:focus {
            outline: none;
        }
        &--right {
            float: right;
        }
        &--left {
            float: left;
        }
        &::placeholder {
            font-size: 14px;
            font-weight: 500;
            color: #061e37;
        }
    }
    &__textarea {
        width: 600px;
        border: 1px $black-color solid;
        border-radius: 5px;
        padding: 15px 17px 7px 17px;
        box-sizing: border-box;
        resize: none;
        background-color: transparent;
        &:focus {
            outline: none;
        }
        &::placeholder {
            font-size: 14px;
            font-weight: 500;
            color: #061e37;
        }
    }
    &__checkbox {
        font-size: 15px;
        font-weight: 500;
        color: #061e37;
        display: block;
        position: absolute;
        margin-top: 34px;
    }
    &__checkbox-label {
        padding-left: 7px;
    }
}

.page-footer {
    background-color: #061e37;
}

.block-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 57px;
    &__list {
        font-size: 15px;
        color: $white-color;
        display: flex;
        justify-content: flex-start;
        padding: 35px 0px;
    }
    &__list-item {
        margin-right: 43px;
        &:first-child {
            list-style-type: none;
        }
    }
}